# Dataframe

DataFrames son simplemente una tabla donde las filas y las columnas tienen etiquetas, se puede construir de diferentes formas pero siempre debemos considerar que la estructura que necesitamos construir para inicializarla tiene que ser bidimensional. Una matriz y puede ser una lista de listas, lista de tuplas, un diccionario de Python u otro DataFrame.

Si solo tenemos una dimensión a eso no le llamamos DataFrame, le llamamos Serie. Cuando utilizamos un diccionario las llaves se convierten en las llaves de la columna.

In [2]:
import pandas as pd

Se puede inicializar el dataframe como un diccionario, donde las llaves son los nombres de las columnas

In [3]:
frame_test = pd.DataFrame({1999: [74,30,39],
                          2000: [44,86,23],
                           2001: [35,46,64]})
frame_test

   1999  2000  2001
0    74    44    35
1    30    86    46
2    39    23    64

También se puede inicializar con el campo de columnas por aparte.

In [4]:
frame_test2 = pd.DataFrame([[74,30,39],[44,86,23],[35,46,64]], columns = [1999,2000,2001])

In [5]:
frame_test2

   1999  2000  2001
0    74    30    39
1    44    86    23
2    35    46    64